{% extends "base.html" %}
{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <header class="content-text">
        <h1>Welcome to the <strong>Flask Stock Portfolio App!</strong></h1>
        <p>Track your personal Stock Portfolio and view histoprical stock charts</p>
    </header>
    <figure class="content-image">
        <img
        src="{{ url_for('static', filename='img/computer_code.jpg') }}"
        alt="Laptop Computer on a desk"
        >
    </figure>
</div>
{% endblock %}